.projectsContainer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 1rem;
  flex-wrap: wrap;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #1a1a1a;
  width: 420px;
  border-radius: 25px;
  margin: 1rem;
  padding: 0.5rem;
  height: 222px;
}

.links {
  display: flex;
  gap: 2rem;
  margin-bottom: 0.5rem;
}
.links a {
  color: mediumseagreen;
  text-decoration: solid;
}

.project h4 {
  margin-bottom: 0rem;
}
.project p {
  color: #64d4cd;
  margin: 0.3rem;
}