.introContainer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 1rem;
}

.imageContainer img {
  border-radius: 15px;
  height: 250px;
  width: 250px;
  outline: 4px solid #ff1c5c;
}

@media (max-width: 600px) {
  .introContainer {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .contentContainer {
    width: 96%;
  }
}
.socials{
  display: grid;
  place-items: center;
}
.socials > img {
  height: 35px;
  width: 35px;
  margin: 0.5rem;
  transition: all 3s;
}
/* .socials a:hover > img {
  animation: rotate 3s  infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
