.dockContainer{
    position: fixed;
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
    bottom: 50px;
    backdrop-filter: blur(5px);
    padding:2rem;
    height:3rem;
    border: 1px solid #64d4cd;
}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dockElementsContainer{
    display: flex;
    flex-direction: row;
    gap:0.25rem;
    align-items: center;
    justify-content: center;
}
.dockElement{
    min-height: 2rem;
    min-width:88px;
    border:0.35px solid grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0.5rem;
    border-radius: 25px;
}
.dockElement a {
    text-decoration: none;
    color:yellow;
}
.icon img {
    width:50px;
}
.dockElement:hover{
    z-index: 3;
    transform:translateY(-20px);
    transition: all 0.3s;
    background-color: var(--bgc);
}
.dockElement:not(:hover){
    transform:translateY(0px);
    transition: all 0.3s;
}

@media screen and (max-width:500px){
    .container{
        display:none;
    }
}