.socialsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
.socials a{
    color: lightseagreen;
    text-decoration: solid;
    font-size: 1rem;
}