@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kalam:wght@300&family=Lobster&family=Mochiy+Pop+P+One&family=Open+Sans&display=swap");

:root {
  --bgc: #111;
  --projectBackgroundColor: #1a1a1a;
  scroll-padding: 100px;
}

body {
  margin: 0;
  font-family: "Mochiy Pop P One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: var(--bgc);
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #111;
}
