@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Kalam:wght@300&family=Lobster&family=Mochiy+Pop+P+One&family=Open+Sans&family=Redressed&family=Caveat&display=swap");
body {
  margin: 0;
  font-family: "Mochiy Pop P One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #111;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
